
importFrom("grDevices", "col2rgb", "grey.colors", "hsv", "rgb2hsv")
importFrom("graphics", "abline", "axis", "barplot", "box", "legend",
           "lines", "mtext", "par", "plot.new", "plot.window", "rect",
           "segments", "text", "title", "xinch", "yinch")
importFrom("stats", "optim", "pchisq", "pnorm", "qbeta", "qnorm", "as.formula")
importFrom("utils", "assignInMyNamespace", "read.csv")
#importFrom("lattice", "barchart")
importFrom("methods","is")
importFrom("einsum","einsum")
importFrom("graphics", "points", "symbols")
importFrom("stats", "contrasts", "na.omit")
importFrom("utils", "combn")
     
export(calcDDTable, calcDDFrame,
       gradedResponse, calcDPCTable, partialCredit, calcDPCFrame,
       effectiveThetas, calcDSTable, calcDSFrame, eThetaFrame,
       calcDNTable, calcDNFrame, normalLink,
       Compensatory, Conjunctive, Disjunctive,
       OffsetConjunctive, OffsetDisjunctive,
       getOffsetRules, setOffsetRules, isOffsetRule,
       defaultAlphas, defaultBetas,
       dataTable, calcDSllike, calcDNllike,
       mapDPC,
       calcNoisyAndTable, calcNoisyAndFrame,
       calcNoisyOrTable, calcNoisyOrFrame)

export(rescaleTable, normalizeTable, scaleMatrix,
       structMatrix, mcSearch, buildParentList,
       pvecToCutpoints, pvecToMidpoints, numericPart, factorPart,
       getTableParents,getTableStates, scaleTable,
       areaProbs, buildRegressions, buildRegressionTables,
       as.CPA, is.CPA, as.CPF, is.CPF,
       normalize.matrix,
       normalize, normalize.array, normalize.data.frame,
       normalize.CPA, normalize.default,
       normalize.CPF)

S3method(normalize,data.frame)
S3method(normalize,array)
S3method(normalize,matrix)
S3method(normalize,CPF)
S3method(normalize,CPA)
S3method(normalize,table)
S3method(normalize,default)


## From WOE package
export(betaci, proflevelci, barchart.CPF,
       stackedBarplot, compareBars, stackedBars, compareBars2,
       colorspread, OCP, OCP2, OCP.CPF, OCP2.CPF, 
       cptChi2, cptG2, cptKL,
       buildFactorTab, build2FactorTab, buildMarginTab,
       marginTab,parseProbVec, readHistory,
       mutualInformation, ciTest, localDepTest,
       ewoe.CPF,
       woeBal, woeHist, EAPBal,
       accuracy, fcKappa, gkLambda, gkGamma)

export(isMonotonic,
       isIncreasing, isDecreasing,
       isNondecreasing, isNonincreasing)

S3method(normalize, array)
S3method(normalize, data.frame)
S3method(normalize, CPA)
S3method(normalize, CPF)
S3method(normalize, default)
S3method(normalize, matrix)

#export(calcLearnForget)

export(pvecTable,catTable,expTable)
export(simplex_vertex_projection,plotsimplex)