#import(methods)
#import(utils)

#importFrom(stats4,optim)

export(calcDDTable, calcDDFrame,
       gradedResponse, calcDPCTable, partialCredit, calcDPCFrame,
       effectiveThetas, calcDSTable, calcDSFrame, eThetaFrame,
       calcDNTable, calcDNFrame, normalLink,
       Compensatory, Conjunctive, Disjunctive,
       OffsetConjunctive, OffsetDisjunctive,
       getOffsetRules, setOffsetRules, isOffsetRule,
       dataTable, calcDSllike, calcDNllike,
       mapDPC,
       calcNoisyAndTable, calcNoisyAndFrame,
       calcNoisyOrTable, calcNoisyOrFrame)

export(rescaleTable, normalizeTable, scaleMatrix,
       structMatrix, mcSearch, buildParentList,
       pvecToCutpoints, pvecToMidpoints, numericPart,
       getTableParents,getTableStates, scaleTable,
       areaProbs, buildRegressions, buildRegressionTables)

## From WOE package
export(betaci, proflevelci,
       stackedBarplot, compareBars, stackedBars, compareBars2,
       colorspread, OCP, OCP2,
       buildFactorTab, build2FactorTab, buildMarginTab,
       marginTab,parseProbVec, readHistory,
       mutualInformation, ciTest, localDepTest,
       woeBal, woeHist)

## S3method(print, NeticaBN)
## S3method(toString, NeticaBN)
## S3method(Ops, NeticaBN)
## S3method(print, NeticaNode)
## S3method(toString, NeticaNode)
## S3method(Ops, NeticaNode)
## S3method("[", NeticaNode)
## S3method("[[", NeticaNode)
## S3method("[<-", NeticaNode)


